/* ------- Main Styles ------- */

.errors {
    color: red;
}

.feedback {
    color: green;
}

img,
object {
    max-width: 100%;
    height: auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* outline: 0.5px solid gray; */
}

html {
    font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
    font-size: 120%;
    letter-spacing: 0.020em;
    line-height: 1.5;
    background-color: #DDD;
    max-width: 50rem;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-size: 0.9rem;
    margin: 0;
}

h1,
h2 {
    font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
    text-align: left;
    font-weight: 600;
    line-height: 3rem;
}

p {
    font-size: 1.2rem;
}

main>section {
    margin-left: 1rem;
}

main>section h3 {
    font-size: 1.5rem;
    color: #6495ED;
    margin-left: 1.5rem;
}

main>section h4 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.contact-form h3 {
    background-color: #F5F5F5;
    max-width: 14rem;
    text-align: center;
    margin-bottom: -3rem;
    margin-left: 0rem;
}

.btnmore {
    margin-left: -2.2rem;
    padding-bottom: 5rem;
    padding-top: 0.5rem;
}


/* Contact Form */

.contact-form form {
    max-width: 25rem;
    display: block;
    margin: 3rem auto;
    margin-bottom: -2rem;
}

.contact-form input {
    font-size: 0.8rem;
}

form input {
    width: 22.5rem;
    height: 2.5rem;
    border: 1px solid #F5F5F5;
    color: rgba(7.1, 7.1, 7.8, 1);
    font-weight: 500;
    font-size: 0.8rem;
    background-color: #F5F5F5;
}

::-ms-input-placeholder {
    color: #121214;
}

form input::-webkit-input-placeholder {
    color: #121214;
    opacity: 50%;
}

form input::-moz-placeholder {
    color: #121214;
    opacity: 50%;
}

form input:-ms-input-placeholder {
    color: #121214;
    opacity: 50%;
}

form input::-ms-input-placeholder {
    color: #121214;
    opacity: 50%;
}

form input::placeholder {
    color: #121214;
    opacity: 50%;
}

textarea {
    min-width: 22.5rem;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    color: #121214;
}

#msg-details {
    font-size: 0.7rem;
    font-weight: 400;
    opacity: 50%;
}

label {
    font-weight: 500;
    color: #121214;
}

input[type="submit"] {
    background: #6495ED;
    color: #F5F5F5;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    width: 80%;
    height: 10%;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #F5F5F5;
    color: #121214;
}

input[type="submit"]:active {
    color: #6495ED;
    cursor: pointer;
}


/* ------- MEDIA QUERIES ------ */


/* phone and up */

@media only screen and (min-width: 480px) {
    .contact-form form {
        max-width: 25rem;
    }
}


/* Landscape phone and up */

@media only screen and (min-width: 640px) {
    /* ------ Contact Page ------ */
    /* Contact Form */
    .contact-form {
        margin: 2rem 6rem;
    }
    .contact-form form {
        margin-top: -2rem;
        margin-bottom: -9rem;
    }
    input[type="submit"] {
        width: 96%;
        margin-left: 2.2rem;
    }
    .contact-form h3 {
        background-color: #F5F5F5;
        max-width: 14rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-left: 0rem;
    }
}


/* Portrait tablet and up */

@media only screen and (min-width: 768px) {
    /* Contact Form */
    .contact-form form {
        min-width: 36rem;
        margin: 6rem 0rem;
        margin-top: -2rem;
        margin-bottom: -9rem;
        margin-left: -5rem;
    }
    .contact-form form {
        display: grid;
        grid-template-columns: 19rem 0rem;
        grid-template-rows: 2rem 2rem;
        grid-template-areas: "name email";
    }
    .contact-form form .name {
        grid-area: name;
    }
    .contact-form form .email {
        grid-area: email;
    }
    .contact-form input.name {
        width: 18rem;
    }
    .contact-form input.email {
        width: 18rem;
    }
    .contact-form textarea {
        width: 37rem;
        margin-left: -19rem;
        margin-top: -2rem;
    }
    .msg {
        margin-left: -19rem;
        margin-top: -0.5rem;
    }
    .btnmore input {
        width: 8.2rem;
        height: 3rem;
        background: #6495ED;
        color: #F5F5F5;
        font-size: 1.2rem;
        text-decoration: none;
        display: block;
        padding: 0.3rem 1.8rem;
        margin-left: -16.8rem;
        margin-top: 1rem;
    }
    .btnmore {
        margin-left: -2.2rem;
        padding-bottom: 5rem;
        padding-top: 0.5rem;
    }
    .contact-form h3 {
        background-color: #F5F5F5;
        max-width: 14rem;
        text-align: center;
        margin-bottom: 3rem;
        margin-left: -5rem;
    }
}


/* Portrait tablet and up */

@media only screen and (min-width: 824px) {
    textarea {
        min-width: 61%;
        border: 1px solid rgb(214, 228, 255, 1);
    }
    .contact-form form {
        margin-top: -2rem;
        margin-bottom: -9rem;
    }
}


/* Landscape desktop (17”) and up */

@media only screen and (min-width: 960px) {
    /* Contact Form */
    .contact-form {
        display: block;
        margin: 0 12rem;
        max-width: 50rem;
    }
    textarea {
        min-width: 100%;
    }
    .contact-form form {
        margin-top: -2rem;
        margin-bottom: -9rem;
    }
}


/* Widescreen desktop (24”) and up */

@media only screen and (min-width: 1160px) {
    /* Contact Form */
    .contact-form {
        display: block;
        margin: 0 18rem;
        max-width: 50rem;
    }
}